# Подключение к уже существующей БД основного приложения
DATABASE_URL=postgresql://postgres:postgresPOSTGERS@/91.229.11.8:5432/telemarketing_analytics
# Порт сервиса
PORT=2970
WEBHOOK_AUTO_CREATE_PROJECT=1
